.centro {
display:inline;
float:left;
text-align:center;
position:relative;
width:80%;
line-height:90vh;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.cuerpo {
height:90vh;
border: 1px solid red;
}

.derecha {
display:inline;
float:right;
width: 10%;
height:100%;
margin-top: 45vh;}

.izquierda {
display:inline;
float:left;
width: 10%;
height:100%;
margin-top: 45vh;
}

img.thumbnail  {
vertical-align:middle;
}

