.izquierda {
display:inline;
float:left;
width: 10%;
}

.derecha {
display:inline;
float:right;
width: 10%;}

.centro {
display:inline;
float:left;
text-align:center;
}

.centro img {
margin: auto;
}
